<h3>Buscar por region <small>{{regionActiva|titlecase}}</small></h3>
<hr>

<h5>Seleccione la region</h5>
<!-- "{
            'btn-primary': regionActiva===region,
            'btn-outline-primary':regionActiva!==region
        }" 
-->
<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones" [ngClass]="(region===regionActiva)?'btn-primary':'btn-outline-primary'" class="btn" (click)="activarRegion(region)">
            {{region}}
        </button>
    </div>
</div>

<hr>

    <div *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
