<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Posicion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises;let i = index" class="animate__animated animate__fadeIn animate__faster">
            <td>{{i+1}}</td>
            <td><img  width="50px" [src]="pais.flags.png"></td>
            <td>{{pais.name.common}}</td>
            <td>{{pais.population | number}}</td>
            <td><a [routerLink]="['/pais/',pais.cca2]">Ver</a></td>
        </tr>
    </tbody>

</table>
