<h3>Por Capital</h3>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar Capital..." (onDebounce)="sugerencias($event)"></app-pais-input>
    </div>
</div>

<hr>
    <div *ngIf="Error" class="alert alert-danger">
        No se encontro el Pais {{termino}}
    </div>

    <div *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>