<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>


<ng-template #divPais>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png" class="img-thumbnail">
        </div>

    <div class="col">
        <h3>Informacion</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Poblacion: </strong>{{pais.population | number}}
            </li>
            <li class="list-group-item">
                <strong>Nombre: </strong>{{pais.name.common}}
            </li>
            <li class="list-group-item">
                <strong>Codigo: </strong>{{pais.cca2}}
            </li>
        </ul>
    </div>

    <div>
        <h3>Traducciones</h3>
        <div class="row">
            <div class="col">
                <span class="badge bg-primary mr-1">{{pais.translations['kor'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['ara'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['hrv'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['ita'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['fra'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['hun'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['jpn'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['per'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['pol'].common}}</span>
                <span class="badge bg-primary mr-1">{{pais.translations['ces'].common}}</span>
            </div>
        </div>
    </div>

    </div>

</ng-template>