<h3>Por Pais</h3>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar Pais..." (onDebounce)="sugerencias($event)"></app-pais-input>
    </div>
</div>

<ul class="list-group">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais',pais.cca2]">{{pais.name.common}}</a>
    </li>
</ul>

<hr>
    <div *ngIf="Error" class="alert alert-danger">
        No se encontro el Pais {{termino}}
    </div>

    <div *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>